<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <img class="portrait other" src="/img/pic2.jpg">
        <p>Jesteśmy grupą alpak które miały dosyć wychodzenia na spacerki w 
            nieprzyjemnej pogodzie i stworzyłyśmy aplikację do jej sprawdzania!</p>
    </div>
    {{>footer}}
</body>
</html>