<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <img class="portrait other" src="/img/pic3.jpg">
        <p>Niestety jesteśmy tylko alpakami więc nie za bardzo mamy jak Ci pomóc.</p>
    </div>
    {{>footer}}
</body>

</html>